<div class="pagination-container">
  <div class="total-pages">
    Total: <span> {{ names.length }} </span>
  </div>
  <!-- 
  <div><input [(ngModel)]="this.currentPage" /></div> -->
  <div
    class="pagination"
    appPagination
    #pagination="appPagination"
    (newRules)="newRulesCB($event)"
    [valuesArr]="names"
    [searchTerms]="searchTerms"
    [searchObservable]="searchObservable"
    [pageRangeArr]="[10, 20, 30, 40, 50]"
  >
    <button (click)="pagination.first()" class="page-backward-btn"><<</button>
    <button (click)="pagination.prev()" class="page-left-btn"><</button>

    <div *ngFor="let number of numbers">
      <button
        (click)="pagination.OnClick(number, $event)"
        [ngClass]="{
          'active-page': currentPage === number,
          'page-btn': true
        }"
      >
        {{ number }}
      </button>
    </div>

    <button (click)="pagination.next()" class="page-right-btn">></button>
    <button (click)="pagination.last()" class="page-forward-btn">>></button>

    <div class="select-container" (click)="setShowSelect()">
      <div class="page-value-container">
        <div class="page-value">{{ rulesPerPage }}</div>
        <div class="expand-btn">l</div>
      </div>
      <div *ngIf="showSelect" class="select">
        <div
          [attr.data-value]="[i]"
          *ngFor="let i of selectArr"
          (click)="pagination.onRulePerPageChange($event)"
          [ngClass]="{
            selected: rulesPerPage === i,
            option: 'true'
          }"
        >
          {{ i }}
        </div>
      </div>
    </div>

    <div>
      <input
        name="input"
        [ngModel]="currentPage"
        (keyup.enter)="pagination.change($event)"
      />
    </div>
    <!-- <div><input [ngModel]="currentPage" /></div> -->
  </div>
</div>

<div>
  <input #searchBox (input)="search(searchBox.value)" />
</div>
