<div class="pagination-container">
  <div class="total-pages">
    Total: <span> {{ names.length }} </span>
  </div>
  <!-- 
  <div><input [(ngModel)]="this.currentPage" /></div> -->
  <div
    class="pagination"
    snoringPagination
    #pagination="snoringPagination"
    (newRules)="newRulesCB($event)"
    [valuesArr]="names"
    [searchTerms]="searchTerms"
    [searchObservable]="searchObservable"
    [pageRangeArr]="[10, 40, 30, 15, 17, 1000]"
  >
    <button (click)="pagination.first()" class="page-backward-btn"><<</button>
    <button (click)="pagination.prev()" class="page-left-btn"><</button>

    <div *ngFor="let number of btnNosArr">
      <button
        (click)="pagination.OnClick(number, $event)"
        [ngClass]="{
          'active-page': currentPage === number,
          'page-btn': true
        }"
      >
        {{ number }}
      </button>
    </div>

    <button (click)="pagination.next()" class="page-right-btn">></button>
    <button (click)="pagination.last()" class="page-forward-btn">>></button>

    <select (click)="pagination.onRulePerPageChange($event)">
      <option
        *ngFor="let i of selectArr"
        [value]="[i]"
        [ngClass]="{
          selected: rulesPerPage === i,
          option: 'true'
        }"
      >
        {{ i }}
      </option>
    </select>

    <div>
      <input
        name="input"
        [ngModel]="currentPage"
        (keyup.enter)="pagination.change($event)"
      />
    </div>
    <!-- <div><input [ngModel]="currentPage" /></div> -->
  </div>
</div>

<div>
  <input #searchBox (input)="search(searchBox.value)" />
</div>
